.rect {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: orangered;

  &:hover {
    background-color: green;
    // transform: translate(80%, 80%);
    // transform: translateX(80%);
    // transform: translateY(80%);

    // transform: rotate(30deg);
    // transform-origin: left top;

    // transform: skew(-30deg);
    // transform: skewX(-30deg);
    // transform: skewY(-30deg);
    // transform-origin: center center;

    // transform: scale(2, 1.5);
    // transform: scaleX(2);
    // transform: scaleY(2);

    transform: translateY(80px) rotate(30deg);
  } 
}