#container {
  text-align: center;

  .btn {
    background-color:white;
    color: black;
    border: 1px solid black;
    padding: 10px 40px;
    margin: 50px 0;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: black;
      color: white;
    }

    /*
    font-size: 64px;
    width:400px;
    height: 200px;
    box-shadow: 0 10px gray;
  

    &:active {
      margin-top: 55px;
      box-shadow: 0 5px gray;
    }
    */
  }
}